* {
    margin: auto 0;
    padding: 0;
	font-family: 'Wallpoet', sans-serif;
    box-sizing: border-box;
}

h2, h3, p, span {
    color: rgb(230, 226, 226);
	margin: 8px;
}

#app {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.btn {
	padding: 7px 10px;
	border-radius: 7px;
	font-size: 2rem;
	background-color: rgba(94, 255, 0, 0.582);	
}

/* ---- Start game page ---- */

.joinGameWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;

	.joinGameBox {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 70vw;
		height: 30vh;
		font-family: 'Wallpoet', sans-serif;
		font-size: 5rem;
		text-shadow: 20px 20px 10px rgba(255, 183, 0, 0.582);
	}

	.form-label {
		color: rgb(230, 226, 226);
		display: block;
	}

	.form-control {
		padding: 15px;
		width: 100%;
		font-size: 2rem;
	}

}

/* ---- Waitingroom Component ---- */

.lightboxContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;

	.lightbox {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 70vw;
		height: 30vh;
	}
}

/* ---- Game area page ---- */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    position: relative;
    background-image: 
        linear-gradient(to right, 
		rgba(255, 183, 0, 0.44),
		rgb(255, 183, 0),
		rgba(255, 183, 0, 0.44));


    h1 {
      	font-size: 4rem;
      	text-shadow: 2px 5px 5px grey;
		letter-spacing: 7px;
  	}

	a {
		display: flex;
		align-items: center;
		width: 20%;
		position: absolute;
		right: 0px;
	}  
}

/* ---- Game area --- */

.gameAreaWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;

	.gameArea {
		margin-top: 2rem;

		p {
			text-align: center;
			font-size: 2rem;
		}
		
		.box {
			border: 1px solid rgba(248, 219, 105, 0.573);
			box-shadow: 0px 0px 50px 1px rgb(248, 219, 105);
			color: white;
			width: 400px;
			height: 400px;
		}
	}
}

// grids
.cell {
	display: grid;
	grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
	grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
	text-align: center;
	gap: 0;
	margin: 0;
	background-image: url('./assets/img/ocean-background.png');
	background-color: rgba(0, 0, 0, 0.733);
	background-blend-mode: color-burn;


	.defaultCellColor {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid rgb(191, 96, 7);
		height: 40px;
		width: 40px;
	}

	// handle shot
	.hit{
		width: 20px;
		height: 20px;
		background-color: rgba(94, 255, 0, 0.582);
		border-radius: 100%;

	}

	.miss{
		width: 20px;
		height: 20px;
		background-color: rgba(156, 13, 13, 0.886);
		border-radius: 100%;
	}
}


.shipsLeftWrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2rem;

	div {
		text-align: center;
		border: 1px solid #fff;
		border-radius: 7px;
		padding: 7px 10px;
		margin: 20px;
	}

	.whosTurn {
		max-width: 100%;
		margin-top: 100px;
		background-color: rgba(46, 15, 203, 0.447);
	}

}






